@{
    ViewData["Title"] = "Início";
}

<div class="body-custom">
    <div class="body-retangle-1 typewriter">
        <p id="body-title"> LIGHTHOUSE</p>
        <p id="text">Te guiando para um futuro mais seguro.</p>
    </div>
    <div class="body-retangle-2 ">
        <div style="text-align: center; font-size: 30pt;font-weight: bold">DashBoards</div>
        <div style="text-align: center; margin-top:5em">
            Através de sensores de temperatura, umidade e de chuva, conseguimos obter com precisão dados nas quais buscamos assim
            auxiliar cidadãos de diversas áreas do Brasil, trazendo mais segurança, e garantindo um futuro de contigência maior contra
            enchentes nas cidades de todo o Brasil
        </div>
    </div>
    <div class="body-retangle-3 ">
        <h1>Conheça mais sobre nosso projeto</h1> <a asp-controller="About" asp-action="Index" id="seta"></a>
    </div>  
</div>

<script>
    var i = 0;
    var tag = document.getElementById("text");
    var html = document.getElementById("text").innerHTML;
    var attr = tag.setAttribute("data", html);
    var txt = tag.getAttribute("data");
    var speed = 100;

    function typeWriter() {
      if (i <= txt.length) {
        document.getElementById("text").innerHTML = txt.slice(0 , i + 1);
        i++;
        setTimeout(typeWriter, speed);
      }
    }
    
    typeWriter();
    
</script>





