<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lighthouse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="header-logo">
            <a class="logo-text" asp-area="" asp-controller="Home" asp-action="Index">Lighthouse</a>
        </div>
        
        <div class="header-items ">
            <a class="style-link" asp-area="" asp-controller="Home" asp-action="Index">Lighthouse</a>
            <a class="style-link" asp-area="" asp-controller="Sensor" asp-action="Index">Sensores</a>
            <a class="style-link" asp-area="" asp-controller="Home" asp-action="Index">Sobre</a>
            <a class="tool" asp-area="" asp-controller="Home" asp-action="Index">⚙️</a>
        </div>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="footer-custom">
            &copy; 2022 - Lighthouse
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
